@import "tailwindcss";

/* CSS tùy chỉnh */
@theme {
  /* Khai báo màu sắc */
  --color-primary: #f42c37;
  --color-secondary: #f42c37;
  --color-brand-yellow: #fdc62e;
  --color-brand-green: #2dcc6f;
  --color-brand-blue: #1376f4;
  --color-brand-white: #eeeeee;
  /* Cách viết chuẩn cho Tailwind v4 để nhận class dark từ thẻ html */
  --variant-dark: .dark &;
}

@layer components {
  .search-bar {
    /* set width=0 để khi hover mới hiện thanh search */
    @apply w-0 group-hover:w-[300px] transition-all duration-300 rounded-full group-hover:border group-hover:border-gray-500 px-3 py-1 focus:outline-none focus:border-1 dark:border-gray-800 dark:bg-gray-900 group-hover:dark:bg-gray-800;
  }
}

@layer utilities {
  /* Trong index.css */
  .hero-bg-color {
    @apply bg-gradient-to-r from-gray-300/80 to-gray-100;
  }

  /* Ép màu nền khi có class .dark ở thẻ html */
  :where(.dark) .hero-bg-color {
    @apply from-gray-900 to-gray-800 text-white;
  }
}

/* thêm dòng  này để khi hover vào phần tử, nó sẽ nhận màu chữ là white */
@layer base {
  .dark .dark\:hover\:text-white:hover {
    color: #ffffff !important;
  }
}

.dark {
  background-color: #111827;
}

html {
  transition: 1s;
}

/* ấn các vùng chứa to hơn size của thẻ body */
body,
html {
  overflow-x: hidden;
}
